@import '_colours.scss';
@import '_breakpoints.scss';

:global {
  html, body {
    height: 100%;
    margin: 0;
  }

  html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
  }

  body {
    display: flex;
  }

  #builder {
    background-color: $white;
    flex: 1;

    h1 {
      color: $madison;
      margin: 0;
    }
  }

  #form-wrapper {
    padding: 50px;
  }

  #preview {
    flex: 1;
    padding: 50px 0;
    background-color: $zircon;
  }

  @media (max-width: $laptop) {
    body {
      display: block;
    }
  }
}
