@import '_colours.scss';
@import '_breakpoints.scss';

:global {
  html, body {
    height: 100%;
    margin: 0;
  }

  html {
    font-size: 12pt;
  }

  #builder-wrapper {
    background-color: $white;
  }

  #preview {
    padding: 25px 0;
    background-color: $zircon;
  }

  @media (min-width: $tablet) {
    body {
      display: flex;
    }

    #builder-wrapper {
      flex: 1;
    }

    #preview {
      flex: 1;
    }
  }
}
