@import '_colours.scss';
@import '_breakpoints.scss';

.root {
  border-bottom: 2px solid $grey-chateau;
  width: 75%;
}

.header {
  display: flex;
  background-color: $madison;
  height: 100px;
}

.name {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin: 10px;
  color: $white;
  font-size: 2em;
}

.avatar {
  display: none;
  @media (min-width: $laptop) {
    display: flex;
  }

  height: 125px;
  width: 100px;
  margin: 5px;
  border: 1px solid $grey-chateau;
  border-bottom-width: 2px;
  background-color: $white;
}

.body {
  background-color: $white;
  height: 200px;
}

.double-row {
  display: flex;
  flex-direction: column;
  @media (min-width: $mobile-large) {
    flex-direction: row;
  }
}
