@import '_colours.scss';
@import '_breakpoints.scss';

.root {
  border-bottom: 2px solid $grey-chateau;
  width: 75%;
}

.header {
  display: flex;
  background-color: $madison;
  height: 160px;
  text-transform: capitalize;
}

.name {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin: 30px;
  color: $white;
  font-size: 2em;
}

.avatar {
  @media (max-width: $tablet) {
    display: none;
  }

  height: 160px;
  width: 140px;
  margin: 30px;
  border: 1px solid $grey-chateau;
  border-bottom-width: 2px;
  background-color: $white;
}

.body {
  background-color: $white;
  padding: 60px 30px 30px;
}

.double-row {
  display: flex;
  flex-direction: column;

  @media (min-width: $laptop-large) {
    flex-direction: row;
  }
}
